<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>CHAT</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'style.css') }}"/>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename = 'homefunctions.js') }}"></script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <a href="{{url_for('logout')}}">Log Out</a>
    <a href="{{url_for('settings')}}">Settings</a>
    <div class="box" style="display: flex; align-items: center;">
        <img src= "{{ url_for('static', filename=img) }}" alt="Profile Picture" style="width: 50px; height: 50px; border-radius: 50%; float: left; position: relative;"/>
        <h1>{{ session.username }}</h2>
    </div>
    <h2>USERS ONLINE</h1>
    {% for user in users %}
        <div class = listed_user>
            <h3> DM {{ user }} </h3>
            <input id="dm_{{ user }}" type="text" name="dm">
            <button onclick="sendMessage('{{ user }}')">Send</button>
        </div>
    {% endfor %}


</body>

</html>