<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>CHAT</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'style.css') }}"/>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename = 'homefunctions.js') }}"></script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <a href="{{url_for('logout')}}">Log Out</a>
    <a href="{{url_for('settings')}}">Settings</a>
    <div class="box" style="display: flex; align-items: center;">
        <img src= "{{ url_for('static', filename=img) }}" alt="Profile Picture" style="width: 50px; height: 50px; border-radius: 50%; float: left; position: relative;"/>
        <h1>{{ session.username }}</h1>
    </div>
    <h1>USERS ONLINE</h1>
    {% for user in users %}
        <div class = listed_user>
            <div class="box" style="display: flex; align-items: center;">
                <img src= "{{ url_for('static', filename=user.picturePath) }}" alt="Profile Picture" style="width: 50px; height: 50px; border-radius: 50%; float: left; position: relative;"/>
                <h3> DM {{ user.username }} </h3>
            </div>
            <input id="dm_{{ user.username }}" type="text" name="dm">
            <button onclick="sendMessage('{{ user.username }}')">Send</button>
        </div>
    {% endfor %}

    <h1>CHAT</h1>
    <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>
    <form id="form" method="post">
        <input type="text"class="username" placeholder="User Name"/>
        <input type="text" class="message" placeholder="Messages"/>
        <input type="submit"/>
    </form>

</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on( 'connect', function() {
        socket.emit( 'my event', {
            data: 'User Connected'
        } )
        var form = $( '#form' ).on( 'submit', function( e ) {
            e.preventDefault()
            let user_name  = $( 'input.username' ).val()
            let user_input = $( 'input.message' ).val()
            socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
            } )
            $( 'input.message' ).val( '' ).focus()
        } )
        } )
        socket.on( 'my response', function( msg ) {
        if( typeof msg.user_name !== 'undefined' ) {
            $( 'h3' ).remove()
            $( 'div.message_holder' ).append( '<div id='+msg.id+'><b style="color: #000">'+msg.user_name+': </b> '+msg.message+'  <button type="button" onclick=myFunction($(this).closest("div").attr("id")) > Like & subscribe </button> <p id=votes> Likes: </p> </div>' )
        }
    })

    socket.on('vote_update', (data) => {
        var doc = document.getElementById(data.div_id)
        doc.getElementsByTagName("p")[0].innerHTML = 'votes' + data.votes;
    })

    function myFunction(id) {
        id = parseInt(id);
        socket.emit( 'vote', id)

    }
</script>
</html>