<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
    <a href="{{url_for('home')}}">Home</a>
    <a href="/">Login</a>

    <h1>Login to an Account</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required minlength="3" maxlength="20">
        <br/>
        <br/>
        <label for="username">Password:</label>
        <input type="text" id="password" name="password" required minlength="8" maxlength="30">
        <br/>
        <br/>
        <button>Log in</button>
        <br>
        <p>{{ msg }}</p>
    </form>
</body>
</html>