<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <h1>Settings</h1>
    <img src= "{{ url_for('static', filename=img) }}" alt="Profile Picture" style="width: 200px; height: 200px; border-radius: 50%;"/>
    <h3>Change your profile picture</h3>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" id="file" name="file">
        <input type="submit">
    </form>
    <p>{{ msg }}</p>
</body>
</html>